@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Concert One', 'Noto Sans TC','Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

body ,#app{
  @apply bg-[#D8E5E1]  p-0 m-0 w-full h-full relative;

}

.title{
  font-family: 'Roboto', sans-serif;
}

.border-style{
  position: relative;
    width: 100%;
    background-image: linear-gradient(to right,#819B9A 0%,#819B9A 50%,transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    border-color: transparent;
    height: 3px;
}

.swiper-btn-next,.swiper-btn-prev {
  @apply  absolute top-1/2 z-10;
  width: 21px !important;
  height: 36px !important;
  color: rgba(0, 0, 0, 0) !important;
}
.swiper-button-disabled{
  opacity: .5;
}

.swiper-btn-next {
  @apply rounded-l-sm right-0;
  background: url("/chevron-right.svg") rgba(0,0,0,.6) no-repeat center center;
}

.swiper-btn-prev {
  @apply rounded-r-sm left-0;
  background: url("/chevron-left.svg") rgba(0,0,0,.6) no-repeat center center;
}